<TABLE width="100%" cellpadding="2" cellspacing="0" border="0"><TR class="yfnc_modtitle1" style="border-top:none;"><td colspan="2" style="border-top:2px solid #000;"><small><span class="yfi-module-title">Period Ending</span></small></td><th scope="col" style="border-top:2px solid #000;text-align:right; font-weight:bold">Dec 29, 2013</th><th scope="col" style="border-top:2px solid #000;text-align:right; font-weight:bold">Dec 30, 2012</th><th scope="col" style="border-top:2px solid #000;text-align:right; font-weight:bold">Jan 1, 2012</th></TR><tr><td colspan="2">
                            <strong>
                        Total Revenue
                            </strong>
                        </td><td align="right">
                                <strong>
                            450,008&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            400,035&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            348,013&nbsp;&nbsp;
                                </strong>
                            </td></tr><tr><td colspan="2">Cost of Revenue</td><td align="right">366,357&nbsp;&nbsp;</td><td align="right">324,977&nbsp;&nbsp;</td><td align="right">275,881&nbsp;&nbsp;</td></tr><tr><td colspan="5"  style="height:0;padding:0; border-top:3px solid #333;"><span style="display:block; width:5px; height:1px;" ></span></td></tr><tr><td colspan="2">
                            <strong>
                        Gross Profit
                            </strong>
                        </td><td align="right">
                                <strong>
                            83,651&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            75,058&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            72,132&nbsp;&nbsp;
                                </strong>
                            </td></tr><tr><td colspan="5" style="height:0;padding:0; "><span style="display:block; width:5px; height:10px;" ></span></td></tr><tr>
                    <td><spacer type="block" height="1" width="1"/></td>
                <td class="yfnc_d" colspan="4">Operating Expenses</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Research Development</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Selling General and Administrative</td><td align="right">69,343&nbsp;&nbsp;</td><td align="right">62,771&nbsp;&nbsp;</td><td align="right">55,213&nbsp;&nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Non Recurring</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Others</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td><spacer type="block" height="1" width="1"/></td>
                <td colspan="5" style="height:0; padding:0; " class="yfnc_d" ><span style="display:block; width:5px; height:1px;" ></span></td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Total Operating Expenses</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr><td colspan="5" style="height:0;padding:0; "><span style="display:block; width:5px; height:10px;" ></span></td></tr><tr><td colspan="5"  style="height:0;padding:0; border-top:3px solid #333;"><span style="display:block; width:5px; height:1px;" ></span></td></tr><tr><td colspan="2">
                            <strong>
                        Operating Income or Loss
                            </strong>
                        </td><td align="right">
                                <strong>
                            14,308&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            12,287&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            16,919&nbsp;&nbsp;
                                </strong>
                            </td></tr><tr><td colspan="5" style="height:0;padding:0; "><span style="display:block; width:5px; height:10px;" ></span></td></tr><tr>
                    <td><spacer type="block" height="1" width="1"/></td>
                <td class="yfnc_d" colspan="4">Income from Continuing Operations</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Total Other Income/Expenses Net</td><td align="right">257&nbsp;&nbsp;</td><td align="right">679&nbsp;&nbsp;</td><td align="right">326&nbsp;&nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Earnings Before Interest And Taxes</td><td align="right">14,565&nbsp;&nbsp;</td><td align="right">12,966&nbsp;&nbsp;</td><td align="right">17,245&nbsp;&nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Interest Expense</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Income Before Tax</td><td align="right">14,565&nbsp;&nbsp;</td><td align="right">12,966&nbsp;&nbsp;</td><td align="right">17,245&nbsp;&nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Income Tax Expense</td><td align="right">3,690&nbsp;&nbsp;</td><td align="right">4,574&nbsp;&nbsp;</td><td align="right">5,895&nbsp;&nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Minority Interest</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td><spacer type="block" height="1" width="1"/></td>
                <td colspan="5" style="height:0; padding:0; " class="yfnc_d" ><span style="display:block; width:5px; height:1px;" ></span></td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Net Income From Continuing Ops</td><td align="right">10,875&nbsp;&nbsp;</td><td align="right">8,392&nbsp;&nbsp;</td><td align="right">11,350&nbsp;&nbsp;</td></tr><tr><td colspan="5" style="height:0;padding:0; "><span style="display:block; width:5px; height:10px;" ></span></td></tr><tr>
                    <td><spacer type="block" height="1" width="1"/></td>
                <td class="yfnc_d" colspan="4">Non-recurring Events</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Discontinued Operations</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Extraordinary Items</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Effect Of Accounting Changes</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr>
                    <td width="30" class="yfnc_tabledata1"><spacer type="block" width="30" height="1"/></td>
                <td>Other Items</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr><td colspan="5" style="height:0;padding:0; "><span style="display:block; width:5px; height:10px;" ></span></td></tr><tr><td colspan="5"  style="height:0;padding:0; border-top:3px solid #333;"><span style="display:block; width:5px; height:1px;" ></span></td></tr><tr><td colspan="2">
                            <strong>
                        Net Income
                            </strong>
                        </td><td align="right">
                                <strong>
                            10,875&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            8,392&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            11,350&nbsp;&nbsp;
                                </strong>
                            </td></tr><tr><td colspan="2">Preferred Stock And Other Adjustments</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td><td align="right">
            -
            &nbsp;</td></tr><tr><td colspan="5" style="height:0;padding:0; border-top:3px solid #333;"><span style="display:block; width:5px; height:1px;" ></span></td></tr><tr><td colspan="2">
                            <strong>
                        Net Income Applicable To Common Shares
                            </strong>
                        </td><td align="right">
                                <strong>
                            10,875&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            8,392&nbsp;&nbsp;
                                </strong>
                            </td><td align="right">
                                <strong>
                            11,350&nbsp;&nbsp;
                                </strong>
                            </td></tr></TABLE>